@font-face {
    font-family: 'NovaMono';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/NovaMono.ttf');
}

.text {
    -fx-font-family: "NovaMono";
}

.heading {
    -fx-font-size: 64;
}


#vbox {
    -fx-background-color: black;
    -fx-fill: greenyellow;
}

#console {

    -fx-hbar-policy: as-needed;
    -fx-fit-to-height: true;
}

.console-text{
    -fx-font-family: "NovaMono";
    -fx-fill: greenyellow;
    -fx-font-size: 16;
}

#bubblePane {
    -fx-background-image: url('../assets/gamesky.jpg');
    -fx-background-size: stretch;


}