

.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.button {
    -fx-font-size: 18;
}

#chessBtn {
    -fx-text-fill: black;
    -fx-graphic: url('../assets/chess.png');
    -fx-alignment: center;


    -fx-content-display: top;
    -fx-pref-height: 150;
    -fx-pref-width: 150;


}
#checkersBtn {
    -fx-text-fill: black;
    -fx-graphic: url('../assets/checkersboard.png');
    -fx-alignment: center;


    -fx-content-display: top;
    -fx-pref-height: 150;
    -fx-pref-width: 150;

}
#bubblesBtn {
    -fx-text-fill: black;
    -fx-graphic: url('../assets/bubbles.png');
    -fx-alignment: center;


    -fx-content-display: top;
    -fx-pref-height: 150;
    -fx-pref-width: 150;

}
#tictactoeBtn {
    -fx-text-fill: black;
    -fx-graphic: url('../assets/tic-tac-toe.png');
    -fx-alignment: center;


    -fx-content-display: top;
    -fx-pref-height: 150;
    -fx-pref-width: 150;

}

#pongBtn {
    -fx-text-fill: black;
    -fx-graphic: url('../assets/ping-pong-1.png');
    -fx-alignment: center;


    -fx-content-display: top;
    -fx-pref-height: 150;
    -fx-pref-width: 150;

}

#comingSoonBtn {
    -fx-text-fill: black;
    -fx-graphic: url('../assets/crane.png');
    -fx-alignment: center;


    -fx-content-display: top;
    -fx-pref-height: 150;
    -fx-pref-width: 150;

}

.menu-hbox
{
    -fx-alignment: center;
    -fx-pref-width: 200;
    -fx-pref-height: 150;
}
